@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #87bc47;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 60px;
    border-radius: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 0.85rem;
}

nav ul li a:hover, .active {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}
.background {
    padding: 50px 10%;
    background-color: white;
}

.about {
    text-align: center;
    margin-bottom: 60px;
}

.about h1 {
    color: #579d30;
    margin-bottom: 20px;
}


.video {
    margin-bottom: 50px;
    text-align: center;
}

.video-wrapper {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    max-width: 800px;
    margin: 20px auto;
    border: 5px solid #7aba2e;
    
}

.video-wrapper iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    box-shadow: 0 1px 5px black;
    transition: transform 0.3s ease-in-out;

}

.video-wrapper iframe:hover{
    transform: scale(1.02);
}
.contents {
    padding: 60px 10%;
    background-color: #fff;
}

.intro {
    color: #e34d3d;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #222;
}
.column {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.history-left,.history-right {
    flex: 1;
}

.column p {
    font-size: 1rem;
    line-height: 1.8;
    color: #444;
    margin-bottom: 20px;
    text-align: justify;
}
.history strong {
    color: #222;
    font-weight: 700;
}



.partners {
    text-align: center;
    padding: 40px 0;
    background: #f4f4f4;
}

.partners-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: bold;
    color: #777;
    margin-top: 20px;
}

.logo {
    max-width: 50%;
    height: auto;
    transition: transform 0.5s ease-in-out;

}
.logo:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #87bc47;
    color: white;
    padding: 30px 5%;
    text-align: center;
}

@media (max-width: 768px) {
    .services-grid { flex-direction: column; height: auto; }
    header { flex-direction: column; }
    nav ul { margin-top: 15px; }
}