@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #87bc47;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 60px;
    border-radius: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 0.85rem;
}

nav ul li a:hover, .active {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}

.background {
    padding: 60px 10%;
    background-color: #fff;
}

.news-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
}

.news-title h1 {
    font-size: 2.2rem;
    color: #222;
    margin-top: 5px;
}
.intro {
    color: #e34d3d;
    font-weight: bold;
    display: block;
    font-size: 0.9rem;
}


.button {
    background-color: #e34d3d;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
    border-radius: 25rem;
    border: 1px solid black;
}

.button:hover {
    background-color: #75b400;
    box-shadow: 0 1px 5px black;
    transform: scale(1.019);
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.box {
    width: 31%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
    border: 3px solid #75b400;
}

.box:hover {
    transform: translateY(-5px);
}

.news-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-content h3 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 15px;
}

.news-date {
    color: #e34d3d;
    font-size: 0.85rem;
    font-weight: bold;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #87bc47;
    color: white;
    padding: 30px 5%;
    text-align: center;
}

@media (max-width: 768px) {
    .services-grid { flex-direction: column; height: auto; }
    header { flex-direction: column; }
    nav ul { margin-top: 15px; }
}